.guess_box {
  font-size: 2rem;
  border-color: var(--highlight-color);
  margin: 2rem;
  width: 25rem;
}

.suggestion_box {
  border: 2px solid var(--highlight-color);
  border-top: none;
  font-size: 1.5rem;
  width: 24rem;
  margin: auto;
  position: relative;
  top: calc(2px - 2rem);
  border-radius: 0 0 2rem 2rem;
  padding: 5px;
}

.suggestion_box div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5ex 1.5ex;
}

.suggestion_box div:hover {
  color: var(--highlight-color);
}

.guessed_suggestion {
  text-decoration: line-through;
}
