.tipdiv {
  position: relative;
}

.tip {
  background-color: var(--bg-color);
  z-index: 1;
  position: absolute;
  bottom: calc(100% - 10px);
  left: 50%;
  translate: -50%;
  width: 100%;
  visibility: hidden;
  border: 2px solid var(--highlight-color);
  border-radius: 2em;
  padding: 10px;
}

.tipdiv .tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--highlight-color) transparent transparent transparent;
}

.tip.right_side {
  left: calc(100% + 10px);
  bottom: 50%;
  translate: 0 50%;
  width: 20em;
  padding: 20px;
}

.tipdiv .tip.tip.right_side::after {
  top: 50%;
  left: 0%;
  margin-left: -20px;
  margin-top: -10px;
  border-width: 10px;
  border-color: transparent var(--highlight-color) transparent transparent;
}
